@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

span {
    display: block;
}

.navbar_container {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
        ),
        url("/src/img/joe-cox-xfc43saqKPQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar_title {
    padding: 1rem 2rem;
    white-space: nowrap;
}

.navbar_title-text {
    display: inline;
}

.navbar_list {
    align-self: center;
    margin: 0;
    padding: 1rem 2rem;
}

.navbar_list-item {
    display: inline;
    padding: 0rem 4rem;
    line-height: 3;
}

.navbar_img_container {
    align-self: center;
}
.navbar_img_container img {
    max-width: 50px;
    padding: 0.5rem;
    display: none;
}

.text--cursive {
    font-family: 'Homemade Apple', 'Georgia', cursive;
    font-size: 3rem;
    color: #ECD9BA;
}

.text--heading {
    font-family: 'PT Mono', 'Courier New', monospace;
    font-size: 3.5rem;
    color: #ECD9BA;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--menu {
    font-family: 'PT Mono', 'Courier New', monospace;
    font-weight: bold;
    font-size: 2rem;
    color: #ECD9BA;
}

@media screen and (max-width: 940px) {
    .navbar_container {
        flex-direction: column;
    }

    .navbar_title {
        padding: 0.5rem 1rem;
    }

    .navbar_list-item {
        line-height: normal;
    }
}

@media screen and (max-width: 600px) {
    .navbar_list {
        display: none;
    }
    
    .navbar_img_container img {
        display: inline-block;
    }

    .navbar_img_container {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
    }
}

@media screen and (max-width: 490px) {
    .navbar_title {
        display: none;
    }

    .navbar_list {
        display: inline;
    }

    .navbar_list-item {
        padding: 0rem 2rem;
    }

    .navbar_img_container {
        display: none;
    }
}